/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 30px;
}

article {
 font-size: large;
}

img {
    max-width: 100%;
    margin-top: 20px;
}

figure {
  padding: 20px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
    margin: 0;
}

figcaption {
  font-size: .8em;
}

@media screen and (max-width: 799px) {
  img {
    max-width: 100%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1299px) {
  body {
    background-color: rgb(199, 199, 199);
  }
  article {
    font-size: 20px;
  }
}

@media screen and (min-width: 1300px) {
  body {
    background-color: aquamarine;
    margin: 80px;
  }

  article {
    font-size: xx-large;
  }

  h1 {
    font-size: xxx-large;
  }
  
  h2 {
    font-size: xx-large;
  }

  figcaption {
    font-size: large;
  }
}